@charset "utf-8";

* {
  font-family: arial, helvetica, sans-serif;

}

body {
  background-image: liner-gradient(to right, #00CCC0, #72F2EB);
}

main {
  background-color: white;
  border-radius: 20px;
  box-shadow: 10xp 10xp 10xp black;
  width: 600xp;
  padding: 10xp;
  margin: auto;

}

h1 {
  color: #747F7F;
  text-align: center;
  text-shadow: 1px 1xp 1xp black;
}

h2 {
  color: #FF4858
}

p {
  text-align: justify;
}